In [6]:
import pandas as pd
import sqlite3

# Part 1

In [7]:
# chinook.db
conn = sqlite3.connect('data/chinook.db')
customers_df = pd.read_sql("SELECT * FROM customers", conn)
print("First 10 rows of customers table:")
print(customers_df.head(10))

First 10 rows of customers table:
   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

In [16]:
# iris.json
iris_df = pd.read_json('data/iris.json')
print("\nShape of iris dataset:", iris_df.shape)
print("Column names in iris dataset:", iris_df.columns)
# print("First 5 rows in iris dataset:", iris_df.head())

Shape of iris dataset: (150, 5)
Column names in iris dataset: Index(['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species'], dtype='object')

In [9]:
# titanic.xlsx
titanic_df = pd.read_excel('data/titanic.xlsx')
print("\nFirst 5 rows of Titanic dataset:")
print(titanic_df.head())

First 5 rows of Titanic dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
# Flights parquet file

# flights_df = pd.read_parquet('data/flights')
# This code takes sooo long time, so I will read only the first file

flights_df = pd.read_parquet('data/flights/part-00000-aefaf364-d401-4e57-92a5-82fae6fdc855-c000.snappy.parquet')
flights_df.to_csv('data/flights.csv', index=False)
print("\nSummary of Flights dataset:")
print(flights_df.info())

Summary of Flights dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297605 entries, 0 to 297604
Columns: 109 entries, Year to Div5TailNum
dtypes: object(109)
memory usage: 247.5+ MB
None

In [57]:
# movie.csv
movie_df = pd.read_csv('data/movie.csv')
print("\nRandom sample of 10 rows from movie dataset:")
print(movie_df.head(10))

Random sample of 10 rows from movie dataset:
   color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
4    NaN        Doug Walker                     NaN       NaN
5  Color     Andrew Stanton                   462.0     132.0
6  Color          Sam Raimi                   392.0     156.0
7  Color       Nathan Greno                   324.0     100.0
8  Color        Joss Whedon                   635.0     141.0
9  Color        David Yates                   375.0     153.0

   director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                      0.0                   855.0   Joel David Moore
1                    563.0                  1000.0      Orlando Bloom
2                      0.0                   161.0       Rory Kinnear
3                  22000.0                 23000.0     Christian Bale
4                    131.0                     NaN         Rob Walker
5                    475.0                   530.0    Samantha Morton
6                      0.0                  4000.0       James Franco
7                     15.0                   284.0       Donna Murphy
8                      0.0                 19000.0  Robert Downey Jr.
9                    282.0                 10000.0   Daniel Radcliffe

   actor_1_facebook_likes        gross  \
0                  1000.0  760505847.0
1                 40000.0  309404152.0
2                 11000.0  200074175.0
3                 27000.0  448130642.0
4                   131.0          NaN
5                   640.0   73058679.0
6                 24000.0  336530303.0
7                   799.0  200807262.0
8                 26000.0  458991599.0
9                 25000.0  301956980.0

                                              genres  ...  \
0                    Action|Adventure|Fantasy|Sci-Fi  ...
1                           Action|Adventure|Fantasy  ...
2                          Action|Adventure|Thriller  ...
3                                    Action|Thriller  ...
4                                        Documentary  ...
5                            Action|Adventure|Sci-Fi  ...
6                           Action|Adventure|Romance  ...
7  Adventure|Animation|Comedy|Family|Fantasy|Musi...  ...
8                            Action|Adventure|Sci-Fi  ...
9                   Adventure|Family|Fantasy|Mystery  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
4                  NaN      NaN      NaN             NaN          NaN
5                738.0  English      USA           PG-13  263700000.0
6               1902.0  English      USA           PG-13  258000000.0
7                387.0  English      USA              PG  260000000.0
8               1117.0  English      USA           PG-13  250000000.0
9                973.0  English       UK              PG  250000000.0

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
4         NaN                   12.0        7.1           NaN
5      2012.0                  632.0        6.6          2.35
6      2007.0                11000.0        6.2          2.35
7      2010.0                  553.0        7.8          1.85
8      2015.0                21000.0        7.5          2.35
9      2009.0                11000.0        7.5          2.35

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
4                    0
5                24000
6                    0
7                29000
8               118000
9                10000

[10 rows x 28 columns]

# Part 2

In [58]:
# iris.json
iris_df.columns = iris_df.columns.str.lower()
iris_selected = iris_df[['sepallength', 'sepalwidth']]
print("\nSelected columns from iris dataset:")
print(iris_selected.head())

Selected columns from iris dataset:
   sepallength  sepalwidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1
4          5.0         3.6

In [59]:
# titanic.xlsx
titanic_filtered = titanic_df[titanic_df['Age'] > 30]
print("\nPassengers older than 30:")
print(titanic_filtered.head())

gender_counts = titanic_df['Sex'].value_counts()
print("\nCount of male and female passengers:")
print(gender_counts)

Passengers older than 30:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
4             5         0       3
6             7         0       1
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
4       0    373450   8.0500   NaN        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S

Count of male and female passengers:
Sex
male      577
female    314
Name: count, dtype: int64

In [60]:
# Flights parquet file
print(flights_df.columns)
flights_selected = flights_df[['Origin', 'Dest']]
print("\nSelected columns from Flights dataset:")
print(flights_selected.head())

unique_destinations = flights_df['Dest'].nunique()
print("\nNumber of unique destinations:", unique_destinations)

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline', 'Tail_Number',
       ...
       'Div4WheelsOff', 'Div4TailNum', 'Div5Airport', 'Div5AirportID',
       'Div5AirportSeqID', 'Div5WheelsOn', 'Div5TotalGTime',
       'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum'],
      dtype='object', length=109)

Selected columns from Flights dataset:
  Origin Dest
0    MDT  CLT
1    MDT  CLT
2    MDT  CLT
3    MDT  CLT
4    MDT  CLT

Number of unique destinations: 337

In [61]:
# movie.csv
long_movies = movie_df[movie_df['duration'] > 120]

sorted_movies = long_movies.sort_values(by='director_facebook_likes', ascending=False)
print("\nMovies longer than 120 minutes sorted by director_facebook_likes:")
print(sorted_movies.head())

Movies longer than 120 minutes sorted by director_facebook_likes:
      color      director_name  num_critic_for_reviews  duration  \
66    Color  Christopher Nolan                   645.0     152.0
3     Color  Christopher Nolan                   813.0     164.0
120   Color  Christopher Nolan                   478.0     128.0
1222  Color  Christopher Nolan                   341.0     130.0
97    Color  Christopher Nolan                   642.0     148.0

      director_facebook_likes  actor_3_facebook_likes    actor_2_name  \
66                    22000.0                 11000.0    Heath Ledger
3                     22000.0                 23000.0  Christian Bale
120                   22000.0                 11000.0     Liam Neeson
1222                  22000.0                 19000.0    Hugh Jackman
97                    22000.0                 23000.0       Tom Hardy

      actor_1_facebook_likes        gross                            genres  \
66                   23000.0  533316061.0       Action|Crime|Drama|Thriller
3                    27000.0  448130642.0                   Action|Thriller
120                  23000.0  205343774.0                  Action|Adventure
1222                 23000.0   53082743.0     Drama|Mystery|Sci-Fi|Thriller
97                   29000.0  292568851.0  Action|Adventure|Sci-Fi|Thriller

      ... num_user_for_reviews language  country  content_rating       budget  \
66    ...               4667.0  English      USA           PG-13  185000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
120   ...               2685.0  English      USA           PG-13  150000000.0
1222  ...               1100.0  English      USA           PG-13   40000000.0
97    ...               2803.0  English      USA           PG-13  160000000.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
66        2008.0                13000.0        9.0          2.35
3         2012.0                23000.0        8.5          2.35
120       2005.0                14000.0        8.3          2.35
1222      2006.0                20000.0        8.5          2.35
97        2010.0                27000.0        8.8          2.35

     movie_facebook_likes
66                  37000
3                  164000
120                 15000
1222                49000
97                 175000

[5 rows x 28 columns]

# Part 3

In [62]:
# iris.json
iris_stats = iris_df.describe().T
iris_stats['median']=[iris_df[i].median() for i in iris_stats.index]
print("\nStatistics for iris dataset:")
print(iris_stats[['mean', 'median', 'std']])

Statistics for iris dataset:
                 mean  median       std
sepallength  5.843333    5.80  0.828066
sepalwidth   3.057333    3.00  0.435866
petallength  3.758000    4.35  1.765298
petalwidth   1.199333    1.30  0.762238

In [63]:
# titanic.xlsx
age_min = titanic_df['Age'].min()
age_max = titanic_df['Age'].max()
age_sum = titanic_df['Age'].sum()
print("\nTitanic passenger age statistics:")
print(f"Min: {age_min}, Max: {age_max}, Sum: {age_sum}")

Titanic passenger age statistics:
Min: 0.42, Max: 80.0, Sum: 21205.17

In [64]:
# movie.csv
director_likes = movie_df.groupby('director_name')['director_facebook_likes'].sum()
top_director = director_likes.idxmax()
top_likes = director_likes.max()
print("\nDirector with the highest total director_facebook_likes:")
print(f"{top_director} with {top_likes} likes")

longest_movies = movie_df.nlargest(5, 'duration')[['movie_title', 'duration', 'director_name']]
print("\n5 longest movies and their directors:")
print(longest_movies)

Director with the highest total director_facebook_likes:
Steven Spielberg with 364000.0 likes

5 longest movies and their directors:
                   movie_title  duration        director_name
1694                   Trapped     511.0                  NaN
2436                    Carlos     334.0                  NaN
1487       Blood In, Blood Out     330.0      Taylor Hackford
1134             Heaven's Gate     325.0       Michael Cimino
3254  The Legend of Suriyothai     300.0  Chatrichalerm Yukol

In [65]:
# Flights parquet file
missing_values = flights_df.isnull().sum()
print("\nMissing values in Flights dataset:")
print(missing_values)

numerical_columns = flights_df.select_dtypes(include=['float64', 'int64']).columns
for col in numerical_columns:
    if flights_df[col].isnull().any():
        flights_df[col].fillna(flights_df[col].mean(), inplace=True)
print("\nMissing values filled with column mean.")

Missing values in Flights dataset:
Year                     0
Quarter                  0
Month                    0
DayofMonth               0
DayOfWeek                0
                     ...
Div5WheelsOn        297605
Div5TotalGTime      297605
Div5LongestGTime    297605
Div5WheelsOff       297605
Div5TailNum         297605
Length: 109, dtype: int64

Missing values filled with column mean.

In [56]:
conn.close()